* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #34495e;
    text-decoration: none;
}
section {
    padding: 10px 15px;
    margin: 10px;
    display: block;
    /*
      display: block - displays an element as a block element. It starts on a new line, and takes up the whole width
   */
}
.logo {
    margin: 0;
    font-size: 1.1em;
}
.header {
    position: fixed;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.nav {
    margin-top: 5px;
}

.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #34495e;
    font-size: .99em;
}

.nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
}

@media (min-width: 400px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 800px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
.post {
    margin: 20px auto;
    width: 100%;
    border: 1px solid #746161;
    background-color: #ddd;
    display: table-column;
    gap: 10px 10px;
}

.post p {
    background-color: rgb(177, 164, 164);
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 500px) {
    .post{
        display: list-item;
    }
}